<% @tweets.each do |tweet| %>
	<p><%=User.find(tweet.user_id).username %><br>
	<%=tweet.description %><br>
	<% if tweet.user_id == session[:user_id] %>
		<p><form action="/tweets" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="hidden" name="id" value="<%=tweet.id%>">
		<input type="submit" value="Delete">
		</form>
	<% else %>
		<form action="/followers" method="post">
		<input type="hidden" name="_method" value="delete">
		<!-- <input type="hidden" name="user_id" value="<%=tweet.user_id%>"> -->
		<input type="submit" value="Unfollow <%=User.find(tweet.user_id).username%>">
		</form>
	<% end %></p>
<% end %>