<% @tweets.each do |tweet| %>
	<p><%=User.find(tweet.user_id).username %><br>
	<%=tweet.description %><br>
	<form action="/followers" method="post">
	<input type="hidden" name="user_id" value="<%=tweet.user_id%>">
	<input type="submit" value="Follow <%=User.find(tweet.user_id).username%>">
	</form></p>
<% end %>

<% @favorite.each do |favorite| %>
  <p><%=favorite.count%></p><br>
  <p><% counter = Favorite.find_by(tweet_id: tweet.id) %> <%= "Favorite: " + counter.count.to_s %></p>
<%end%>




