<h1><%= @user.full_name %></h1>
<h2>@<%=@user.username%></h2>
Tweets | Followers | Following<br>
<%= @user.tweets.count %> | <%= @user.followers.count %> | <%= @user.followees.count %> 

<h4>My tweeets:</h4> 
 <% @tweets.each do |tweet| %>
 	<%= tweet.description %><br>
 <% end %>

 <h4>Who I'm following:</h4> 
 <% @followee_tweets.each do |tweet| %>
 	@<%= User.find(tweet.user_id).username %><br>
 	<%= tweet.description %><br>
 <% end %>
